<mat-card class="example-card mb-2">
    <mat-card-header>
      <mat-card-title>New Todo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="mb-2">
            <app-todo-alert [content] = "errors" [alertType] = "'error'"></app-todo-alert>
        </div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Titile</mat-label>
                <input matInput placeholder="Title" [(ngModel)] = "todoDto.title" name="title">
            </mat-form-field>
            <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
                <textarea matInput #message maxlength="256" placeholder="Todo details / Description" [(ngModel)] = "todoDto.description" name="description"></textarea>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Category</mat-label>
                <mat-select name="category" [(ngModel)]="todoDto.category.id">
                    <mat-option *ngFor="let category of categories" [value]="category.id"  >
                    {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button  mat-raised-button color="primary" class="example-icon" (click) = "saveTodo()">
            <mat-icon>save</mat-icon>
            &nbsp;Save
        </button>
        <button  mat-raised-button color="warn" class="example-icon" (click) = "cancel()">
            <mat-icon>clear</mat-icon>
            &nbsp;Cancel
        </button>
    </mat-card-actions>
</mat-card>