.alert {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.alert.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert.primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert.success {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert.dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}