/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
    flex: 1 1 auto;
}

.example-full-width {
    width: 100%;
}

.center-element {
    margin-left: 25%; 
    margin-right: 25%;
    margin-top: 5%;
}

.main-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding-bottom: 2.5rem;
}

.fill-parent {
    height: 100%;
}

.mb-2 {
    margin-bottom: 5px;
}
.mt-2 {
    margin-top: 5px;
}
.mr-2 {
    margin-right: 5px;
}
.ml-2 {
    margin-left: 5px;
}