<mat-card class="example-card mb-2 center-element">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="mb-2">
            <app-todo-alert [content] = "errors" [alertType] = "'error'"></app-todo-alert>
        </div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput placeholder="First name" [(ngModel)] = "userDto.firstName" name="firstName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Last name" [(ngModel)] = "userDto.lastName" name="lastName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>User name</mat-label>
                <input matInput placeholder="User name" [(ngModel)] = "userDto.userName" name="userName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [(ngModel)] = "userDto.email" name="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [(ngModel)] = "userDto.password" name="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button  mat-raised-button color="primary" class="example-icon" (click) = "updateUser()">
            Sign up
        </button>
        <button  mat-raised-button color="warn" class="example-icon" (click) = "login()">
            Login
        </button>
    </mat-card-actions>
</mat-card>